<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\src\NCmdLiner.SolutionCreator.Library.Tests\packages.config" />
  <repository path="..\..\src\NCmdLiner.SolutionCreator.Library\packages.config" />
  <repository path="..\..\src\NCmdLiner.SolutionCreator\packages.config" />
</repositories>