<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_726643700_WixComponent" Guid="06BFB399-BBBC-4362-BBD5-C1E8AC260DA5" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_610783965_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_564707973_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_1342984399_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_995276750_WixComponent" Guid="6D32FA0D-65DC-4EF8-9EEB-98301A2A51DA" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1993667614_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_314199522_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_2041397713_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_Logging_dll_1280186417_WixComponent" Guid="BD9EFDAF-5001-4950-B40B-F86AD965347E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_252243313_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2094996837_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_Logging_dll_796473609_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Castle.Facilities.Logging.dll" />
      </Component>
      <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_150139960_WixComponent" Guid="13BCB0D9-6633-4D28-B64D-E5244F4CF2F5" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_152016555_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1035109842_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Services_Logging_Log4netIntegrati_328503735_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Castle.Services.Logging.Log4netIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_2070529654_WixComponent" Guid="0640540B-E12A-4625-85A9-817A3D76850F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_204749072_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1744901504_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_538194202_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1033499268_WixComponent" Guid="F4017AA1-A5C8-4629-9C80-40676EB965E0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_160492772_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1797287534_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1673651248_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_407958652_WixComponent" Guid="8E82E7A0-4932-4121-BE5B-F5A8F2D8EF36" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1593860634_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_500027561_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1687192176_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net_dll_1992608016_WixComponent" Guid="94201566-9F8D-4437-A533-437E628A1434" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_231730458_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_70895484_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net_dll_1654338285_WixFile" Name="Common.Logging.Log4Net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Common.Logging.Log4Net.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1210_dll_660977638_WixComponent" Guid="D08051CA-61B6-4C4D-8F7D-25660F0DD18F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_244591723_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_834491939_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1210_dll_2103790239_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\Common.Logging.Log4Net1210.dll" />
      </Component>
      <Component Id="Id_log4net_dll_369669604_WixComponent" Guid="7DBC68D6-7143-4508-854C-3D3817B76D8F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1693287842_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_428211223_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1710407500_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_737894581_WixComponent" Guid="5EF22B4F-98F8-4AFF-9C84-B1E55F14BA8E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_225682708_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2103870879_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1802321794_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NCmdLiner.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1166680273_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_425127191_WixComponent" Guid="A2921817-266F-4FE3-892A-722C44183205" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_82177781_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1150059660_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1364282588_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_1894427599_WixComponent" Guid="C6373A45-E6B5-4D87-8735-5BB841E03A9F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2128092112_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2087846101_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_544640350_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_1087920826_WixComponent" Guid="6C50D08A-C129-46B0-A87C-4F8439E0B68D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_421039406_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_566150928_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_960980078_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1038540372_WixComponent" Guid="A2C5B0C4-B703-4C95-B28C-5A0914C552EC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_935025747_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1548899763_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1493640053_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_774490993_WixComponent" Guid="75ED98CF-2E79-49AB-9314-EFD413553501" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_48789697_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1048455959_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_181347829_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_440658552_WixComponent" Guid="3E6782CB-FCF5-4DF3-A286-6F7AD6FB4332" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_135495971_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2053031884_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_1465008263_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1078803250_WixComponent" Guid="2506ED96-EC66-458E-8C86-26CA2FEDF79F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2106317778_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_377241812_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1924021496_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_34494004_WixComponent" Guid="359A12E3-BED2-4E9B-A5EC-C00B05375815" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1947783268_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_807816560_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_204105540_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_2142449387_WixComponent" Guid="5E933699-5590-40A5-A0C4-C907931B6EC3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_506970975_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2130315108_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_1511682853_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_1497451548_WixComponent" Guid="624954AA-400B-4BA1-BF55-5A5640DB00F3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_322909588_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_98180417_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_251121993_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_130533030_WixComponent" Guid="680B92F0-32DC-4259-BB34-646604F53CDF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1109697935_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1720540459_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1971035964_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_268341011_WixComponent" Guid="C6DB459F-6071-4C4C-85EC-A23BDABA9E18" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1142810161_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1478612879_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_758262095_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1026795107_WixComponent" Guid="D0FA7791-06F6-47EE-85DC-DD715585B504" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_216767447_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2110887235_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_176893011_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1055414920_WixComponent" Guid="2C992288-63D8-4041-8C7B-31CD691A3C38" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1620973965_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_726021721_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_289631220_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_176629544_WixComponent" Guid="ACE817F9-FB3F-44CE-A861-4AB8447CB999" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1832535044_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_285479338_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1935593468_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1750850300_WixComponent" Guid="C10EBA70-F244-4DC6-969F-91B416182D66" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_163824605_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_510146346_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1287621205_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1760706493_WixComponent" Guid="430B8A17-8557-4E3F-AC59-FA0F313765B4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_362045388_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_966014338_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_531569397_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_952194286_WixComponent" Guid="BBAE146C-8EC8-474D-9AB4-911DD7A31FB0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_37216910_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2143672152_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_451581405_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_2098092927_WixComponent" Guid="008A6DB0-1D74-44E2-9D44-53E9D5F67C83" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_797333966_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_50814799_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1478444264_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\bin\Debug\NCmdLiner.SolutionCreator\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_726643700_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_995276750_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1280186417_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_150139960_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_2070529654_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1033499268_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_407958652_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net_dll_1992608016_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_660977638_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_369669604_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_737894581_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_425127191_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1894427599_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_1087920826_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1038540372_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_774490993_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_440658552_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1078803250_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_34494004_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_2142449387_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_1497451548_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_130533030_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_268341011_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1026795107_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1055414920_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_176629544_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1750850300_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1760706493_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_952194286_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_2098092927_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>