<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_1859263975_WixComponent" Guid="33A06EF5-4329-4351-9456-F45B68A8738E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1923998937_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1345057820_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_945261041_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_889137088_WixComponent" Guid="02920F60-D718-47A8-AD03-54A1992C07EC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1942565883_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1361428887_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1455981602_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_Logging_dll_639709203_WixComponent" Guid="49FF8FBB-0CD5-46B6-B7E5-A4F6E2541C1C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1930283130_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_932394872_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_Logging_dll_1647843714_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Facilities.Logging.dll" />
      </Component>
      <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_1880781881_WixComponent" Guid="1C1E5406-33AB-4278-9758-4B92310B89CA" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_655518470_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2100695249_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Services_Logging_Log4netIntegrati_994913007_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Services.Logging.Log4netIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1530382690_WixComponent" Guid="F3E541C0-D8FB-474C-9E9D-7F83CD6DEE2D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1707792531_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1002950536_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1123725213_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_899330202_WixComponent" Guid="544ED7B2-46B4-423E-B6C7-79A0EFEB9001" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_419166131_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1401455613_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_2020885844_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_903536286_WixComponent" Guid="425FE242-32E2-486C-90FB-7766B8312BDD" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1228157940_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_646636509_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_929290563_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1210_dll_465219850_WixComponent" Guid="3FC878A1-FBFC-4750-8BA9-FB1AA2F93E4D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1785530967_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1872623786_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1210_dll_709275798_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.Log4Net1210.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1276737370_WixComponent" Guid="F1E739EC-CC82-4803-B1D0-B1736E55055B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1070372572_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1133237370_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1783025427_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_2145974302_WixComponent" Guid="0E1237DB-16E0-4163-9D16-2EC2C338E632" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1698313863_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_683778332_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_966123191_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NCmdLiner.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_2110034955_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1312777749_WixComponent" Guid="336A3D21-4AD2-4400-BD9A-D7E022BFFBEC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_471363078_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_249991977_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1546477736_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_181154568_WixComponent" Guid="25A72D4C-02F5-4A1F-8B4E-4CC4B859AAAA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2079080186_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1396796521_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1769406982_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1556982958_WixComponent" Guid="E23DB7ED-37F4-4DF5-AC22-EA07D9A7346B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1449947910_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1754044059_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_785730524_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_20907330_WixComponent" Guid="AE60BA6E-DE12-4526-86C8-AFE881E462F8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_487621082_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1440097844_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_522543324_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1471655623_WixComponent" Guid="165F6E83-EB3B-4A07-B98F-0238A4F8240E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_41724755_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1808462795_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1295929374_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_432138324_WixComponent" Guid="BB92593E-5F1D-46DB-9E0A-AD484B0B7027" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_990761752_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1001661883_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_57659344_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_223119074_WixComponent" Guid="38A15A41-4EC1-48AF-A789-9F1B8F3BF693" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_371106344_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_810409309_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1669764747_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_317669822_WixComponent" Guid="0143FCA6-E32F-4769-A642-9D5A3835E15B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_996422352_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1979552474_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1024014199_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_36827345_WixComponent" Guid="6E55E0EF-0FD9-4406-A4F2-2DD72EE6B88A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1161173905_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1734036100_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_2095286700_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1151463636_WixComponent" Guid="9FEE880D-0A47-4B61-87D7-F96F861425B7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_474408108_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_722381718_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1296561401_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1397323635_WixComponent" Guid="FE14EF4E-4F93-4224-B3FC-DAFBB9FE7A90" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1307367228_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1055720539_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_335583057_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_118579727_WixComponent" Guid="990FC1EB-F41C-4CA6-99AC-73708D2CA8EF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2071028921_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1255830040_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_582751490_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_1840623173_WixComponent" Guid="2D958B3C-E20B-450C-86D6-6635EECF4B07" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1260482103_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_674318679_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1656589108_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_1022799184_WixComponent" Guid="F61E15F0-7272-4075-A8E5-F387A6999FAD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1817677464_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1677896631_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_322015997_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1617184842_WixComponent" Guid="6BC5BCB8-9F2D-408E-91CD-CF4926E0DEC7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_192332633_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1323358662_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1957531871_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1268670877_WixComponent" Guid="F74754C6-428C-4F54-BE3B-44DE305FB44A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1874515421_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1451737160_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_560560606_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1617879083_WixComponent" Guid="F499AB34-6746-480C-82CE-25128679938D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_730029860_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_748903179_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1007217072_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_901068629_WixComponent" Guid="FB700C2C-4F1C-4B11-9E73-5E39EB1DC9EC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1492294791_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1518563335_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_997247515_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_1859263975_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_889137088_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_639709203_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_1880781881_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1530382690_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_899330202_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_903536286_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_465219850_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1276737370_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_2145974302_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1312777749_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_181154568_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1556982958_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_20907330_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1471655623_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_432138324_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_223119074_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_317669822_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_36827345_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1151463636_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1397323635_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_118579727_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_1840623173_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_1022799184_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1617184842_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1268670877_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1617879083_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_901068629_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>