<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_1268916868_WixComponent" Guid="5460682B-4BAF-4C1E-90A1-7E3B65D9C380" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_563649433_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1053433366_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_370170990_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1310424772_WixComponent" Guid="5A226402-9F67-4E30-BC5E-6D4881F46BEF" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1122632912_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_66948375_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1225053786_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_Logging_dll_266028143_WixComponent" Guid="8FB197B2-C3B6-474A-AB06-3F2F4861BA86" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1756349304_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_198412901_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_Logging_dll_1446980392_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Facilities.Logging.dll" />
      </Component>
      <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_111463045_WixComponent" Guid="1106F84E-3216-4087-8643-47CEDCA24F97" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1126843322_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_153882596_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Services_Logging_Log4netIntegrati_2097364188_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Services.Logging.Log4netIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1409400641_WixComponent" Guid="7704630F-0698-4F40-B66F-279E670FDAEF" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_547814644_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1663087050_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1593460632_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_810929909_WixComponent" Guid="B997B2F0-F2B6-4948-98F8-A6B9A1BFF9A1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_770173470_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_66080301_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_727219969_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_549912816_WixComponent" Guid="441A10EE-DC5F-43B3-86C3-5626EF93E439" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_931035191_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1345076709_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1720970308_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1210_dll_1233220278_WixComponent" Guid="66D618E7-A3E0-4AAE-BF28-17DF03F3BF50" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1031301714_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1912167123_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1210_dll_1511982750_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\Common.Logging.Log4Net1210.dll" />
      </Component>
      <Component Id="Id_log4net_dll_621506138_WixComponent" Guid="EFCCD99C-F633-4465-800A-C83DD58C5F03" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_729900372_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1903366435_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1992958863_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_10062021_WixComponent" Guid="01EF8734-75CD-4A62-B417-95CB026F9FBC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1245677101_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_472669494_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1606325245_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NCmdLiner.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1837638079_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_739301178_WixComponent" Guid="286549C9-CA95-4EB9-BC71-11FFFD79DD10" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1137471234_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1038574108_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1215728275_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_587254779_WixComponent" Guid="3797C873-ED44-4F65-ACBB-B33A2A9B36CC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_514790642_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_645506882_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1259667920_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1117744080_WixComponent" Guid="89ADA039-9B4D-4B4D-B64E-09A40E878F87" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1599826011_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1782403339_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1504072745_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1026725317_WixComponent" Guid="016410C2-08A5-4700-BBBC-089943BD82CB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1891026311_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_498743398_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_497569132_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_326213397_WixComponent" Guid="7D6406B7-F435-4C9B-AAAF-C97F9A211519" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1967741821_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_379389581_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1925039850_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_493461714_WixComponent" Guid="24ACB41E-007A-41C7-A5D3-FE03FAAB79A1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2139317155_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1382210076_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1991665828_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_833913798_WixComponent" Guid="6457FF0A-9CD8-4B0E-873E-6BEFB30E4B57" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_825474254_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1529046320_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1370960534_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_308407380_WixComponent" Guid="6E63A18D-88DC-4D03-9825-FAC0D7465671" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2087302167_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_163723540_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_75145150_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_56761805_WixComponent" Guid="CEF559C3-18B9-474D-B285-8F343576C3A8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1903306200_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_71628731_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1780185883_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1174989840_WixComponent" Guid="E8D93D23-B6FD-4F9F-B65E-8283EBF8BC91" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1658975341_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2110141684_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_416244549_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_699569827_WixComponent" Guid="74FFA7E9-ABAC-4CF2-99B2-B301AE1B7AEC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_461302388_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_115476198_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1578959350_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_129763784_WixComponent" Guid="A9D3B4FD-6B62-486F-9350-21A5B1177678" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_7910004_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1742264468_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_986357708_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_1404623037_WixComponent" Guid="340A6C71-4AB2-4C34-8A3F-F1F3AAD1CECD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1495389731_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1831332271_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1425418927_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_93279913_WixComponent" Guid="B180D4B9-B6DF-4C37-BE45-3645EBC386ED" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1828769042_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1344176365_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_747467670_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1902744805_WixComponent" Guid="10507749-C20A-4C15-BAC5-57919813E945" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1194391927_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_381814477_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1909264172_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1133227969_WixComponent" Guid="E287354E-1A18-473D-AC88-6415439A8E90" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1422029995_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_951260540_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1177925560_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1436102471_WixComponent" Guid="F1EA1A65-1DE5-4EF2-81E0-B1D199032D8B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1707258189_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1447310940_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1270902764_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1819397580_WixComponent" Guid="FB44D8B1-8E40-45D4-82FC-B45154C84A0D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_866041162_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1470062939_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_814721703_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\bin\Release\NCmdLiner.SolutionCreator\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_1268916868_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1310424772_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_266028143_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_111463045_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1409400641_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_810929909_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_549912816_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_1233220278_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_621506138_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_10062021_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_739301178_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_587254779_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1117744080_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1026725317_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_326213397_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_493461714_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_833913798_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_308407380_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_56761805_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1174989840_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_699569827_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_129763784_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_1404623037_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_93279913_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1902744805_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1133227969_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1436102471_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1819397580_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>